@model OrderFormModel;

@{
    ViewData["Title"] = "Order Form";
}

<h3>@ViewData["ErrorMessage"]</h3>

@using (Html.BeginForm("SubmitOrder", "Order", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <h1>Order Form</h1>
    <div class="form-section">
        <h2 class="form-heading">District</h2>
        <div>
            @Html.DropDownListFor(m => m.SelectedDistrict, Model.Districts, "Select District")
            @Html.ValidationMessageFor(m => m.SelectedDistrict)
        </div>
    </div>

    <div class="form-section">
        <h2 class="form-heading">Order Amount (USD)</h2>
        <div>
            @Html.TextBoxFor(m => m.OrderAmount)
            @Html.ValidationMessageFor(m => m.OrderAmount)
        </div>
    </div>

    <input type="submit" value="Submit Order" />
}
